body {
  font-family: 'Open Sans', sans-serif;
}

.username-element, .uuid-element {
  margin: 0px;
}

.username-element {
  font-weight: bold;
  font-size: 20px;
}

.uuid-element {
  font-size: 14px;
}

.name-cell {
  padding-left: 5px;
}

.button-element {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
}
